In [1]:
#import libraries needed for classification model
import pandas
import numpy
import seaborn
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from math import sqrt
from sklearn import datasets,linear_model
from sklearn.datasets import load_boston

In [2]:
#to avoid warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
boston_data  =  load_boston()

In [4]:
boston_data.DESCR

".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n"

In [5]:
#retriveing the data
boston_data

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'C:\\Users\\Bharathi\\Anaconda\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [6]:
boston_data.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [7]:
boston_df=pandas.DataFrame(boston_data.data,columns=boston_data.feature_names)

In [8]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
#adding the column price
boston_df['price'] = boston_data.target

In [10]:
#retriving the data
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
boston_df_X = boston_df[['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']]
boston_df_Y = boston_df[['price']]

In [12]:
#take dependent and independent variables separately
X_train,X_test,Y_train,Y_test=train_test_split(boston_df_X,boston_df_Y,test_size=0.20)

In [13]:
#retriveing the data in X_train
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
472,3.56868,0.0,18.10,0.0,0.580,6.437,75.0,2.8965,24.0,666.0,20.2,393.37,14.36
397,7.67202,0.0,18.10,0.0,0.693,5.747,98.9,1.6334,24.0,666.0,20.2,393.10,19.92
33,1.15172,0.0,8.14,0.0,0.538,5.701,95.0,3.7872,4.0,307.0,21.0,358.77,18.35
161,1.46336,0.0,19.58,0.0,0.605,7.489,90.8,1.9709,5.0,403.0,14.7,374.43,1.73
209,0.43571,0.0,10.59,1.0,0.489,5.344,100.0,3.8750,4.0,277.0,18.6,396.90,23.09

In [14]:
#retiveing the data in X_test
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
359,4.26131,0.0,18.10,0.0,0.770,6.112,81.3,2.5091,24.0,666.0,20.2,390.74,12.67
234,0.44791,0.0,6.20,1.0,0.507,6.726,66.5,3.6519,8.0,307.0,17.4,360.20,8.05
262,0.52014,20.0,3.97,0.0,0.647,8.398,91.5,2.2885,5.0,264.0,13.0,386.86,5.91
208,0.13587,0.0,10.59,1.0,0.489,6.064,59.1,4.2392,4.0,277.0,18.6,381.32,14.66
129,0.88125,0.0,21.89,0.0,0.624,5.637,94.7,1.9799,4.0,437.0,21.2,396.90,18.34

In [15]:
#using z-score  minimizing the high range values of crim
crim_scaler = StandardScaler()
crim_scaler.fit(pandas.DataFrame(X_train['CRIM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
#transforming Z_score of crim
X_train[['CRIM']]=crim_scaler.transform(X_train[['CRIM']])

In [17]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
472,0.001827,0.0,18.10,0.0,0.580,6.437,75.0,2.8965,24.0,666.0,20.2,393.37,14.36
397,0.467247,0.0,18.10,0.0,0.693,5.747,98.9,1.6334,24.0,666.0,20.2,393.10,19.92
33,-0.272316,0.0,8.14,0.0,0.538,5.701,95.0,3.7872,4.0,307.0,21.0,358.77,18.35
161,-0.236969,0.0,19.58,0.0,0.605,7.489,90.8,1.9709,5.0,403.0,14.7,374.43,1.73
209,-0.353530,0.0,10.59,1.0,0.489,5.344,100.0,3.8750,4.0,277.0,18.6,396.90,23.09

In [18]:
#using z-score  minimizing the high range values of zn
zn_scaler = StandardScaler()
zn_scaler.fit(pandas.DataFrame(X_train['ZN']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [19]:
#transforming Z_score of zn
X_train[['ZN']]=zn_scaler.transform(X_train[['ZN']])

In [20]:
#using z-score  minimizing the high range values of indus
indus_scaler = StandardScaler()
indus_scaler.fit(pandas.DataFrame(X_train['INDUS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
#transforming Z_score of indus
X_train[['INDUS']]=indus_scaler.transform(X_train[['INDUS']])

In [22]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
472,0.001827,-0.474863,1.030826,0.0,0.580,6.437,75.0,2.8965,24.0,666.0,20.2,393.37,14.36
397,0.467247,-0.474863,1.030826,0.0,0.693,5.747,98.9,1.6334,24.0,666.0,20.2,393.10,19.92
33,-0.272316,-0.474863,-0.439266,0.0,0.538,5.701,95.0,3.7872,4.0,307.0,21.0,358.77,18.35
161,-0.236969,-0.474863,1.249273,0.0,0.605,7.489,90.8,1.9709,5.0,403.0,14.7,374.43,1.73
209,-0.353530,-0.474863,-0.077647,1.0,0.489,5.344,100.0,3.8750,4.0,277.0,18.6,396.90,23.09

In [23]:
#using z-score  minimizing the high range values 
nox_scaler = StandardScaler()
nox_scaler.fit(pandas.DataFrame(X_train['NOX']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [24]:
#transforming function for Z_score 
X_train[['NOX']]=nox_scaler.transform(X_train[['NOX']])

In [25]:
#using z-score  minimizing the high range values 
rm_scaler = StandardScaler()
rm_scaler.fit(pandas.DataFrame(X_train['RM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [26]:
#transforming function for Z_score
X_train[['RM']]=rm_scaler.transform(X_train[['RM']])

In [27]:
#using z-score  minimizing the high range values 
age_scaler = StandardScaler()
age_scaler.fit(pandas.DataFrame(X_train['AGE']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [28]:
#transforming function for Z_score
X_train[['AGE']]=age_scaler.transform(X_train[['AGE']])

In [29]:
#using z-score  minimizing the high range values 
dis_scaler = StandardScaler()
dis_scaler.fit(pandas.DataFrame(X_train['DIS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [30]:
#transforming function for Z_score
X_train[['DIS']]=dis_scaler.transform(X_train[['DIS']])

In [31]:
#using z-score  minimizing the high range values 
rad_scaler = StandardScaler()
rad_scaler.fit(pandas.DataFrame(X_train['RAD']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [32]:
#transforming function for Z_score
X_train[['RAD']]=rad_scaler.transform(X_train[['RAD']])

In [33]:
#using z-score  minimizing the high range values
tax_scaler = StandardScaler()
tax_scaler.fit(pandas.DataFrame(X_train['TAX']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [34]:
#transforming function for Z_score
X_train[['TAX']]=tax_scaler.transform(X_train[['TAX']])

In [35]:
#using z-score  minimizing the high range values
ptratio_scaler = StandardScaler()
ptratio_scaler.fit(pandas.DataFrame(X_train['PTRATIO']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [36]:
#transforming function for Z_score
X_train[['PTRATIO']]=ptratio_scaler.transform(X_train[['PTRATIO']])

In [37]:
#using z-score  minimizing the high range values
b_scaler = StandardScaler()
b_scaler.fit(pandas.DataFrame(X_train['B']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [38]:
#transforming function for Z_score
X_train[['B']]=b_scaler.transform(X_train[['B']])

In [39]:
#using z-score  minimizing the high range values
lstat_scaler = StandardScaler()
lstat_scaler.fit(pandas.DataFrame(X_train['LSTAT']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
#transforming function for Z_score
X_train[['LSTAT']]=lstat_scaler.transform(X_train[['LSTAT']])

In [41]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
472,0.001827,-0.474863,1.030826,0.0,0.219692,0.208776,0.214859,-0.426073,1.698492,1.563311,0.822104,0.397256,0.230749
397,0.467247,-0.474863,1.030826,0.0,1.196139,-0.752674,1.065625,-1.037692,1.698492,1.563311,0.822104,0.394201,0.997536
33,-0.272316,-0.474863,-0.439266,0.0,-0.143235,-0.816771,0.926797,0.005223,-0.628367,-0.579431,1.186531,0.005643,0.781015
161,-0.236969,-0.474863,1.249273,0.0,0.435720,1.674640,0.777290,-0.874268,-0.512024,-0.006441,-1.683334,0.182888,-1.511071
209,-0.353530,-0.474863,-0.077647,1.0,-0.566650,-1.314217,1.104781,0.047737,-0.628367,-0.758490,0.093249,0.437210,1.434715

In [42]:
#using z-score  minimizing the high range values
lstat_scaler = StandardScaler()
lstat_scaler.fit(pandas.DataFrame(X_test['LSTAT']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [43]:
#transforming function for Z_score
X_test[['LSTAT']]=lstat_scaler.transform(X_test[['LSTAT']])

In [44]:
#retriveing the minimized data
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
359,4.26131,0.0,18.10,0.0,0.770,6.112,81.3,2.5091,24.0,666.0,20.2,390.74,0.022664
234,0.44791,0.0,6.20,1.0,0.507,6.726,66.5,3.6519,8.0,307.0,17.4,360.20,-0.672223
262,0.52014,20.0,3.97,0.0,0.647,8.398,91.5,2.2885,5.0,264.0,13.0,386.86,-0.994097
208,0.13587,0.0,10.59,1.0,0.489,6.064,59.1,4.2392,4.0,277.0,18.6,381.32,0.321977
129,0.88125,0.0,21.89,0.0,0.624,5.637,94.7,1.9799,4.0,437.0,21.2,396.90,0.875480

In [45]:
b_scaler = StandardScaler()
b_scaler.fit(pandas.DataFrame(X_test['B']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [46]:
X_test[['B']]=b_scaler.transform(X_test[['B']])

In [47]:
ptratio_scaler = StandardScaler()
ptratio_scaler.fit(pandas.DataFrame(X_test['PTRATIO']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [48]:
X_test[['PTRATIO']]=ptratio_scaler.transform(X_test[['PTRATIO']])

In [49]:
tax_scaler = StandardScaler()
tax_scaler.fit(pandas.DataFrame(X_test['TAX']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [50]:
X_test[['TAX']]=tax_scaler.transform(X_test[['TAX']])

In [51]:
rad_scaler = StandardScaler()
rad_scaler.fit(pandas.DataFrame(X_test['RAD']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [52]:
X_test[['RAD']]=rad_scaler.transform(X_test[['RAD']])

In [53]:
dis_scaler = StandardScaler()
dis_scaler.fit(pandas.DataFrame(X_test['DIS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [54]:
X_test[['DIS']]=dis_scaler.transform(X_test[['DIS']])

In [55]:
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
359,4.26131,0.0,18.10,0.0,0.770,6.112,81.3,-0.604866,1.527957,1.414229,0.748572,0.398069,0.022664
234,0.44791,0.0,6.20,1.0,0.507,6.726,66.5,-0.096498,-0.235569,-0.689876,-0.643304,0.097098,-0.672223
262,0.52014,20.0,3.97,0.0,0.647,8.398,91.5,-0.702999,-0.566230,-0.941900,-2.830538,0.359832,-0.994097
208,0.13587,0.0,10.59,1.0,0.489,6.064,59.1,0.164760,-0.676450,-0.865707,-0.046786,0.305235,0.321977
129,0.88125,0.0,21.89,0.0,0.624,5.637,94.7,-0.840278,-0.676450,0.072056,1.245671,0.458776,0.875480

In [56]:
crim_scaler = StandardScaler()
crim_scaler.fit(pandas.DataFrame(X_test['CRIM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [57]:
X_test[['CRIM']]=crim_scaler.transform(X_test[['CRIM']])

In [58]:
zn_scaler = StandardScaler()
zn_scaler.fit(pandas.DataFrame(X_test['ZN']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [59]:
X_test[['ZN']]=zn_scaler.transform(X_test[['ZN']])

In [60]:
indus_scaler = StandardScaler()
indus_scaler.fit(pandas.DataFrame(X_test['INDUS']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [61]:
X_test[['INDUS']]=indus_scaler.transform(X_test[['INDUS']])

In [62]:
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
359,0.053195,-0.538116,0.961679,0.0,0.770,6.112,81.3,-0.604866,1.527957,1.414229,0.748572,0.398069,0.022664
234,-0.445964,-0.538116,-0.701406,1.0,0.507,6.726,66.5,-0.096498,-0.235569,-0.689876,-0.643304,0.097098,-0.672223
262,-0.436510,0.260543,-1.013059,0.0,0.647,8.398,91.5,-0.702999,-0.566230,-0.941900,-2.830538,0.359832,-0.994097
208,-0.486809,-0.538116,-0.087881,1.0,0.489,6.064,59.1,0.164760,-0.676450,-0.865707,-0.046786,0.305235,0.321977
129,-0.389242,-0.538116,1.491350,0.0,0.624,5.637,94.7,-0.840278,-0.676450,0.072056,1.245671,0.458776,0.875480

In [63]:
rm_scaler = StandardScaler()
rm_scaler.fit(pandas.DataFrame(X_test['RM']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [64]:
X_test[['RM']]=rm_scaler.transform(X_test[['RM']])

In [65]:
age_scaler = StandardScaler()
age_scaler.fit(pandas.DataFrame(X_test['AGE']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [66]:
X_test[['AGE']]=age_scaler.transform(X_test[['AGE']])

In [67]:
X_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
359,0.053195,-0.538116,0.961679,0.0,0.770,-0.255799,0.506240,-0.604866,1.527957,1.414229,0.748572,0.398069,0.022664
234,-0.445964,-0.538116,-0.701406,1.0,0.507,0.710144,-0.018925,-0.096498,-0.235569,-0.689876,-0.643304,0.097098,-0.672223
262,-0.436510,0.260543,-1.013059,0.0,0.647,3.340526,0.868178,-0.702999,-0.566230,-0.941900,-2.830538,0.359832,-0.994097
208,-0.486809,-0.538116,-0.087881,1.0,0.489,-0.331312,-0.281507,0.164760,-0.676450,-0.865707,-0.046786,0.305235,0.321977
129,-0.389242,-0.538116,1.491350,0.0,0.624,-1.003066,0.981728,-0.840278,-0.676450,0.072056,1.245671,0.458776,0.875480

In [68]:
simple_linear_regression = LinearRegression()

In [69]:
simple_linear_regression.fit(pandas.DataFrame(X_train),pandas.DataFrame(Y_train))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [70]:
Y_pred=simple_linear_regression.predict(pandas.DataFrame(X_test))

In [71]:
Y_pred

array([[21.34934748],
       [31.03792537],
       [42.87336131],
       [21.8432205 ],
       [13.74518898],
       [14.74311681],
       [ 6.47624454],
       [33.20317343],
       [20.39118437],
       [20.82822092],
       [17.15248413],
       [18.12006801],
       [24.77842396],
       [12.1107243 ],
       [18.47446677],
       [23.1162777 ],
       [21.9443026 ],
       [15.53774792],
       [18.10351847],
       [16.8029152 ],
       [29.0169277 ],
       [24.44935208],
       [38.25368302],
       [37.10035803],
       [20.99544181],
       [17.75471559],
       [15.20302305],
       [20.75377816],
       [12.86720454],
       [31.16402375],
       [15.40756013],
       [25.23717392],
       [18.63833029],
       [23.31887659],
       [19.48625803],
       [26.51083658],
       [17.30394809],
       [19.85741065],
       [17.60344234],
       [32.50837546],
       [23.17329387],
       [20.11355287],
       [27.82836931],
       [19.04547898],
       [20.83708794],
       [19.16520645],
       [18.45975893],
       [29.22010584],
       [34.60864795],
       [21.18379324],
       [17.27906102],
       [17.54410567],
       [23.25088193],
       [13.21680532],
       [16.26127122],
       [22.36988869],
       [19.89597668],
       [21.49704064],
       [28.58037638],
       [25.5384645 ],
       [18.82043382],
       [11.67320447],
       [18.46920398],
       [23.63622871],
       [30.40445415],
       [30.21447279],
       [18.42967854],
       [19.54130519],
       [34.35214852],
       [31.60564076],
       [28.70630273],
       [21.02766785],
       [ 5.77084281],
       [17.74994621],
       [21.18637866],
       [17.00179502],
       [20.17871202],
       [29.15663984],
       [29.3833714 ],
       [31.37812058],
       [21.88161263],
       [15.43258217],
       [21.47474162],
       [10.17025625],
       [26.73688819],
       [23.13303179],
       [15.80070189],
       [20.69462467],
       [25.61652439],
       [21.00149154],
       [10.78743689],
       [25.98241702],
       [21.04484237],
       [17.22552467],
       [ 7.47119095],
       [18.1951479 ],
       [11.0899559 ],
       [18.55995768],
       [ 6.81138008],
       [16.0742583 ],
       [22.85625845],
       [25.23614549]])

In [72]:
print("Mean squared error: %.1f" % mean_squared_error(Y_test,Y_pred))

Mean squared error: 20.2

In [73]:
print("Mean absolute error: %.1f" % mean_absolute_error(Y_test,Y_pred))

Mean absolute error: 3.4

In [74]:
print('R2 Score:%.2f' % r2_score(Y_test,Y_pred))

R2 Score:0.73